
.h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    align-items: center;
}

.h2 { 
    font-family: 'Playfair Display', serif;
    text-align: center;
    align-items: center;
}

header{
    background-color: white;
    align-items: center;
    text-align: center;
}

.header-logo{
    height: 400px;
}
